{% extends "prime/base.html" %}
{% block content %}
<div style="background-color: white">
    <h1 style="text-align: center; font-family: 'Helvetica'; padding-top: 70px;">Пользовательское соглашение</h1>

    <h3 class="confirmation-text-slim"><strong>Публичная оферта о заключении договора на оказание сервисных услуг и услуг по техническому обслуживанию</strong></h3><br>

    <h3 class="confirmation-text-slim" style="text-align: right;">г. Владикавказ редакция от 21 мая 2021 года</h3>

    <h3 class="confirmation-text-slim">Настоящая Публичная оферта (далее - Оферта) представляет собой публичное предложение, исходящее от ООО "СТАНДАРТ-БУСТЕР", зарегистрированного в установленном законом порядке с присвоением ОГРН 1201500003550, именуемого в дальнейшем «Исполнитель», о заключении договора на оказание сервисных услуг и услуг по техническому обслуживанию (далее – Договор) на приведённых ниже условиях.

            Оферта определяет все существенные условия предлагаемого к заключению Договора, а именно: предмет Договора, порядок оказания услуг, характер взаимоотношения Исполнителя и любого лица, которое своими конклюдентными и иными действиями, предусмотренными законом, приняло (акцептовало) настоящую Оферту о заключении настоящего Договора и именуемого в дальнейшем «Заказчик».</h3>

    <h3 class="confirmation-text-slim">1. <strong>Термины и определения</strong></h3>

    <h3 class="confirmation-text-slim">Если иное прямо не оговорено в тексте Договора, следующие термины, если они написаны с заглавной буквы, используются в тексте настоящего Договора в значении, указанном ниже:</h3>

    <h3 class="confirmation-text-slim"><strong>«Оферта»</strong> – настоящий документ, предложение, содержащее все существенные условия Договора, из которого усматривается воля Исполнителя, делающего предложение заключить договор на указанных в предложении условиях с любым, кто отзовётся (п.2 ст. 437 ГК РФ).</h3>

    <h3 class="confirmation-text-slim"><strong>«Акцепт оферты»</strong> – ответ любого дееспособного лица, достигшего возраста 18 лет, на оферту Исполнителя путем ее принятия, порождающий правоотношения между Исполнителем и Заказчиком (далее – Стороны) и являющийся моментом заключения Договора между Сторонами. Акцепт Оферты должен быть полным и безоговорочным (п.1 ст. 438 ГК РФ). Безусловным Акцептом настоящей публичной Оферты являются конклюдентные действия Заказчика по оплате сервисных услуг и услуг по техническому обслуживанию, оказываемых Исполнителем (далее – Услуги) в соответствии с условиями настоящей Оферты (путем внесения денежных средств в кассу либо на расчетный счет Исполнителя любым законным способом), а равно как и скачивание и/или прохождение процедуры регистрации Заказчика в мобильном приложении «BoosterPrime».</h3>

    <h3 class="confirmation-text-slim"> <strong>«Договор»</strong> – договор между Исполнителем и Заказчиком, предметом которого является оказание Исполнителем Заказчику сервисных услуг и услуг по техническому обслуживанию, заключаемый на условиях настоящей Оферты, посредством Акцепта Оферты. Если прямо выраженная воля Заказчика на составление отдельного письменного документа между ним и Исполнителем отсутствует, в отношениях между собой Стороны руководствуются положениями Оферты.</h3>

    <h3 class="confirmation-text-slim"><strong>«Заказчик»</strong> – дееспособное лицо, осуществившее Акцепт Оферты.</h3>

    <h3 class="confirmation-text-slim"><strong>«Услуги»</strong> – сервисные услуги и услуги по техническому обслуживанию, оказываемые Исполнителем, включая услуги по замене жидкостей транспортного средства, если необходимо, по усмотрению Исполнителя.</h3>

    <h3 class="confirmation-text-slim"><strong>«Мобильное приложение Исполнителя»</strong> – принадлежащая Исполнителю программа для ЭВМ, имеющая коммерческое наименование «BoosterPrime», предназначенная для установки на мобильное устройство, позволяющая Заказчику осуществлять взаимодействие с Исполнителем.</h3>

    <h3 class="confirmation-text-slim"><strong>«Заявка»</strong> - сообщение, направляемое Заказчиком Исполнителю путем использования Мобильного приложения Исполнителя, содержащее указание на необходимость оказать Услуги и другую необходимую информацию.</h3>

    <h3 class="confirmation-text-slim"><strong>Безакцептное списание»</strong> - списание денежных средств со счета, указанного Заказчиком, без получения дополнительного согласия со стороны последнего. Списание проводится по правилам и в случаях, предусмотренных настоящим Договором.</h3>

    <h3 class="confirmation-text-slim"><strong>2. Предмет договора</strong></h3>

    <h3 class="confirmation-text-slim"><.1.Заказчик обязуется принять и оплатить, а Исполнитель оказать Заказчику Услуги в объёме согласно заявке Заказчика.</h3>

    <h3 class="confirmation-text-slim">2.2.Услуги оказываются иждивением Исполнителя, но за счёт Заказчика. Исполнитель имеет право привлекать третьих лиц для оказания услуг Заказчику без предварительного уведомления Заказчика, а равно как и без получения согласия Заказчика.</h3>

    <h3 class="confirmation-text-slim">2.3.Заявка на оказание Услуг направляется Исполнителю путем использования Мобильного приложения Исполнителю.</h3>

    <h3 class="confirmation-text-slim"><strong>3. Права и обязанности Сторон</strong></h3>

    <h3 class="confirmation-text-slim">3.1.Исполнитель обязуется оказать, а Заказчик принять и оплатить Услуги в соответствии с заявкой.</h3>

    <h3 class="confirmation-text-slim">3.2.Заказчик обязуется компенсировать все издержки (ущерб) Исполнителя в случае невозможности оказания Услуг по причине, не зависящей от Исполнителя, включая, но не ограничиваясь такими причинами, как отсутствие транспортного средства Заказчика в указанном им месте, невозможность открыть транспортное средство и другие причины.</h3>

    <h3 class="confirmation-text-slim">3.3.Заказчик имеет право предъявить какие-либо претензии, связанные с качеством и/или объёмом оказанных Услуг не позднее 24 (двадцати четырех) часов с момента окончания оказания Услуг. По истечении указанного периода, Исполнитель имеет право не принимать и не рассматривать претензии Заказчика.</h3>

    <h3 class="confirmation-text-slim"><strong>4. Стоимость Услуг и порядок оплаты</strong></h3>

    <h3 class="confirmation-text-slim">4.1.Стоимость Услуг согласуется Сторонами с использованием Мобильного приложения Исполнителя.</h3>

    <h3 class="confirmation-text-slim">4.2.Оплата производится посредством безакцептного списания денежных средств с банковской карты Заказчика.</h3>

    <h3 class="confirmation-text-slim"><strong>5. Разрешение споров</strong></h3>

    <h3 class="confirmation-text-slim">5.1.В случае, если Заказчик произвёл предварительную оплату Услуг, однако до фактического получения (оказания) Услуг отказался от исполнения Договора в установленном настоящим Договором и действующим законодательством порядке, Исполнитель производит возврат ранее полученных от Заказчика денежных средств в счёт предварительной оплаты Услуг за вычетом фактических расходов, связанных с исполнением Договора.</h3>

    <h3 class="confirmation-text-slim">5.2.Стороны пришли к соглашению о том, что претензионный порядок разрешения споров по настоящему Договору является обязательным.</h3>

    <h3 class="confirmation-text-slim">5.3.В случае невозможности решения возникших споров путем переговоров, Стороны разрешают такой спор в Советском районном суде города Томска.</h3>

    <h3 class="confirmation-text-slim"><strong>6. Основания и порядок расторжения Договора</strong></h3>

    <h3 class="confirmation-text-slim">6.1.Настоящий Договор может быть расторгнут досрочно:
        по соглашению Сторон;
        Исполнителем в одностороннем внесудебном порядке без уведомления Заказчика и без возмещения какого-либо ущерба (расходов) Заказчика;
            Заказчиком в одностороннем порядке с обязательным уведомлением Исполнителя.</h3>

    <h3 class="confirmation-text-slim">6.2.Договор считается расторгнутым с момента уведомления Заказчика любым доступным Исполнителем способом, включая уведомление через Мобильное приложение Исполнителя.</h3>

    <h3 class="confirmation-text-slim"><strong>7. Форс-мажорные обстоятельства</strong></h3>

    <h3 class="confirmation-text-slim">7.1.Стороны освобождаются от ответственности за частичное или полное неисполнение обязательств по Договору, если такое неисполнение обязательств явилось следствием обстоятельств непреодолимой силы, возникших после заключения Договора в результате событий чрезвычайного характера, которые Стороны не могли ни предвидеть, ни предотвратить и которые не зависят от воли Сторон.</h3>

    <h3 class="confirmation-text-slim">7.2.Если любое из вышеуказанных обстоятельств непосредственно повлияло на исполнение обязательств в срок, установленный Договором, то этот срок соразмерно отодвигается на время действия соответствующего обстоятельства. В случае если указанный срок превышает два месяца, каждая из Сторон имеет право отказаться от исполнения Договора в одностороннем внесудебном порядке, письменно известив об этом другую Сторону.</h3>

    <h3 class="confirmation-text-slim">7.3.В случае наступления форс-мажорных обстоятельств, Сторона, для которой создалась невозможность исполнения обязательств по настоящему Договору, обязана в течение 3 (трех) дней известить другую Сторону о наступлении и окончании обстоятельств форс-мажора.</h3>

    <h3 class="confirmation-text-slim">7.4.Сторона, которая не исполнила своей обязанности известить другую Сторону о наступлении форсмажорных обстоятельств и документально не подтвердила их факт, теряет свое право позднее ссылаться на эти обстоятельства как на форс-мажорные.</h3>

    <h3 class="confirmation-text-slim">Общество с ограниченной ответственностью «Стандарт-Бустер»</h3><br>
    <h3 class="confirmation-text-slim">ИНН: 1513081141</h3><br>
    <h3 class="confirmation-text-slim">ОГРН: 1201500003550</h3><br>
    <h3 class="confirmation-text-slim">Расчетный счет: 40702810800090002044</h3><br>
    <h3 class="confirmation-text-slim">Банк: Филиал Северо-Кавказский ПАО Банк «ФК Открытие»</h3><br>
    <h3 class="confirmation-text-slim">БИК: 048327780</h3><br>
    <h3 class="confirmation-text-slim">Корр. счет: 30101810083270000780</h3><br>
    <h3 class="confirmation-text-slim">Адрес: Республика Северная Осетия-Алания, г. Владикавказ, ул. Коцоева, 19</h3><br>
    <h3 class="confirmation-text-slim">Телефон: (8672) 28-27-17</h3><br><br><br><br><br>
</div>
{% endblock content %}