{% extends "prime/base.html" %}
{% block content %}
    <div class="div-contact-main">
        <div class="div-contact-sub">
            <div class="div-card-header">
                <h2 style="margin-left: 30px;">
                    Контактная информация
                </h2>
            </div>
            <div class="div-card-body">

                    <h3 class="contact-text-slim"><strong>Юридический адрес:</strong> 362015, Республика Северная Осетия-Алания г. Владикавказ, Пр-кт Коста, 15, «а», офис 3.3</h3>

                    <h3 class="contact-text-slim"><strong>Адрес фактического местонахождения организации:</strong> 362001, Республика Северная Осетия-Алания г. Владикавказ, Пр-кт Коста, 15, «а», офис 3.3</h3>

                    <h3 class="contact-text-slim"><strong>Телефон:</strong> (8672) 28-27-17</h3>

                    <h3 class="contact-text-slim"><strong>Бухгалтерия:</strong> (8672) 28-27-87</h3>

                    <h3 class="contact-text-slim"><strong>Адрес электронной почты:</strong> buster@standart-rso.com</h3>
            </div>
        </div>
        <div class="div-contact-sub">
            <div class="div-card-header">
                <h2>
                    Реквизиты
                </h2>
            </div>
            <div class="div-card-body">
                <h3 class="contact-text-slim"><strong>Общество с ограниченной ответственностью «Стандарт-Бустер»</strong></h3><br>

                <h3 class="contact-text-slim"><strong>Режим налогообложения (номер и дата уведомления, патента и т.п.):</strong> ОСНО</h3><br>

                <h3 class="contact-text-slim"><strong>ИНН:</strong> 1513081141</h3><br>

                <h3 class="contact-text-slim"><strong>КПП:</strong> 151301001</h3><br>

                <h3 class="contact-text-slim"><strong>ОКПО:</strong> 45068981</h3><br>

                <h3 class="contact-text-slim"><strong>ОГРН:</strong> 1201500003550</h3><br>

                <h3 class="contact-text-slim"><strong>ОКАТО:</strong> 90401362000</h3><br>

                <h3 class="contact-text-slim"><strong>ОКОГУ:</strong> 4210014</h3><br>

                <h3 class="contact-text-slim"><strong>ОКФС:</strong> 16</h3><br>

                <h3  class="contact-text-slim"><strong>ОКОПФ</strong> :12300</h3><br>

                <h3 class="contact-text-slim"><strong>ОКТМО:</strong> 90701000001</h3><br>
            </div>
        </div>
        <div class="div-contact-sub">
            <div class="div-card-header">
                <h2>
                    Реквизиты банка
                </h2>
            </div>
            <div class="div-card-body">
                <h3 class="contact-text-slim"><strong>Расчётный счет:</strong> 40702810800090002044</h3>

                <h3 class="contact-text-slim"><strong>Наименование банка:</strong> Филиал Северо-Кавказский ПАО Банк «ФК Открытие»</h3>

                <h3 class="contact-text-slim"><strong>ИНН банка:</strong> 1513081141</h3>

                <h3 class="contact-text-slim"><strong>КПП банка:</strong> 151301001</h3>

                <h3 class="contact-text-slim"><strong>Адрес банка:</strong> Республика Северная Осетия-Алания, г. Владикавказ, ул. Коцоева, 19</h3>

                <h3 class="contact-text-slim"><strong>Корреспондентский счет:</strong> 30101810083270000780</h3>
            </div>
        </div>
    </div>
{% endblock content %}