{% extends "prime/base.html" %}
{% block content %}
<div style="background-color: white">
    <h1 class="div-payment-methods">Способы оплаты:</h1>
    <h2 class="payment-text-slim">
        <strong>Наличный расчёт:</strong> Если товар доставляется курьером, то оплата осуществляется наличными курьеру в руки.
        При получении товара обязательно проверьте комплектацию товара, наличие гарантийного талона и чека.
    </h2>
    <h2 class="payment-text-slim">
        <strong>Банковской картой:</strong> Для выбора оплаты товара с помощью банковской карты на соответствующей странице необходимо
        нажать кнопку «Оплата заказа банковской картой». Оплата происходит через ПАО СБЕРБАНК с использованием Банковских
        карт следующих платежных систем:
    </h2>
    <img class="img-visa-wh-pad" src="../../static/prime/images/visa-wh.png">
</div>
{% endblock content%}